.page {
	font-family: 'Oxygen', sans-serif;
}


.blacktxt {
	color: #5f5f5f
}

.whitetxt {
	color: #ffffff
}



.navbar {
	width: 270px;
	background-color: #FFFFFF; 
	z-index: 10; 
	position: fixed; 
	left: 0; 
	top: 0; 
	height: 100%;
}

.body {
	vertical-align: top;
	text-align: left;
}


#contact {
	vertical-align: left;
	text-align: left;
}

.nerd {
	width: 200px;
	height: 300px;
} 


.panel {
    font-family: sans-serif;
    font-size: 650%;
    color: #FFFFFF;
    position:relative;
    top: 33%;
    text-align: left;
    margin: 0;
}
