.container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}



.navBar {
	background-color: white;
	height: 76px;
	width: 800px;
	border: 1px solid;
	border-radius: 5px;
	position: fixed;
}



.navButton {
	text-align: middle;
	color: white;
	background-color: blue;
	height: 30px;
	width: 100px;
	border-radius: 5px;
}



.title {
	color: grey;
	font-size: 23px;
}



hr {
	border: 1px
	border-color: #E6E6E6
}
